{%extends 'base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
    <img src="{{image.image.url}}" alt="Image" class="img-responsive" alt="Image" width="300px">
   </div>

   <div class="row">
     <h1 class="text-center">{{image.name}}</h1>
   </div>

   <div class="row">
     <p>{{image.category}}</p>
   </div>

   <div class="row">
    <p>{{image.location}}</p>
  </div>

  <div class="row">
    <p>{{image.desc}}</p>
  </div>

   <div class="row">
     <p>Posted {{image.uploaded_on}}</p>
   </div>

 </div>

 {% endblock %}